name: Build and test

on:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:20.10.24-dind
        options: --privileged
        ports:
          - 2375:2375
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Ensure Docker is running
        run: |
          docker version
          docker info

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
          source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ github.token }}

      - name: Restore dependencies
        run: dotnet restore TicketBuddy.sln --no-cache --force-evaluate

      - name: Build solution
        run: dotnet build TicketBuddy.sln --configuration Release --no-restore

      - name: Run tests
        env:
          DOCKER_HOST: tcp://localhost:2375
        run: dotnet test TicketBuddy.sln --configuration Release --no-build --no-restore